<log4net>
	<!-- Elemento raíz del archivo de configuración log4net -->

	<root>
		<!-- Configuración para el registro raíz -->

		<level value="ALL" />
		<!-- Nivel de registro mínimo para los mensajes que se van a registrar.
             En este caso, se configura para registrar todos los niveles: "DEBUG", "INFO", "WARN", "ERROR" y "FATAL". -->

		<appender-ref ref="FileAppender" />
		<!-- Referencia al "appender" (el destino de registro) que se utilizará para registrar los mensajes del registro raíz.
             En este caso, se refiere al appender llamado "FileAppender". -->
	</root>

	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<!-- Definición del appender "console" que enviará los mensajes de registro a la consola de la aplicación. -->

		<layout type="log4net.Layout.PatternLayout">
			<!-- Especifica el diseño del mensaje de registro. En este caso, se utiliza un "PatternLayout". -->

			<conversionPattern value="%date %level %logger - %message%newline" />
			<!-- Define el patrón de conversión que se utilizará para formatear cada mensaje de registro.
                 En este caso, se muestra la fecha, el nivel de registro, el nombre del logger y el mensaje.
                 "%date": Fecha y hora del registro.
                 "%level": Nivel de registro del mensaje.
                 "%logger": Nombre del logger que emite el mensaje.
                 "%message": El mensaje a registrar.
                 "%newline": Nueva línea para separar los mensajes. -->
		</layout>
	</appender>

	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Definición del appender "FileAppender" que enviará los mensajes de registro a un archivo de registro. -->

		<file type="log4net.Util.PatternString" value="Log//" />
		<!-- Ruta y nombre del archivo de registro. En este caso, el archivo se guardará en la carpeta "Log" del directorio de la aplicación.
             El valor "PatternString" permite el uso de patrones de fecha, hora u otros valores variables. -->

		<appendToFile value="true" />
		<!-- Si se establece en "true", los nuevos mensajes se agregarán al final del archivo de registro existente.
             Si se establece en "false", el archivo se sobrescribirá cada vez que se reinicie la aplicación. -->

		<rollingStyle value="Date" />
		<!-- Estilo de rotación del archivo de registro. En este caso, se usa "Date", lo que significa que se creará un nuevo archivo de registro por día. -->

		<datePattern value="'ChapasPrintingService_'dddd'.log'" />
		<!-- Patrón de fecha para nombrar los archivos de registro rotados. En este caso, el nombre del archivo tendrá el prefijo "ChapasPrintingService_", seguido del día de la semana en inglés (ejemplo: "Monday.log", "Tuesday.log"). -->

		<maxSizeRollBackups value="10" />
		<!-- Número máximo de archivos de registro que se conservarán después de la rotación. En este caso, se conservarán hasta 10 archivos de registro anteriores. -->

		<maximumFileSize value="100MB" />
		<!-- Tamaño máximo del archivo de registro antes de que se realice la rotación. En este caso, cuando el archivo de registro alcanza los 100 MB, se creará un nuevo archivo de registro. -->

		<staticLogFileName value="false" />
		<!-- Si se establece en "true", el nombre del archivo de registro será siempre el mismo, ignorando el patrón de fecha.
             Si se establece en "false", se seguirá el patrón de fecha para nombrar los archivos de registro rotados. -->

		<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
			<!-- Especifica el diseño del mensaje de registro. En este caso, se utiliza un "XmlLayoutSchemaLog4j" que formateará los mensajes en formato XML. -->

			<locationInfo value="true" />
			<!-- Incluir información de ubicación en el mensaje de registro, como el nombre del archivo y el número de línea donde se generó el mensaje. -->
		</layout>
	</appender>
</log4net>







